
  /* Header, main body content and Footer */

#indexBody {
    background-color: #fff;
    margin: 0;

}

#adminBody {
    background-color: #fff;
}

#mainContainer {
    /* We use !important to override the padding setting that Bootstrap already put for the container-fluid class. */
    padding-left: 0 !important;
    padding-right:0 !important;
}

#productContainer{
  padding-left: 100px;
  padding-right: 100px;
}


.carousel-item {
    margin-right: 0;
 }

h6{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  text-align: right;
  padding-right: 7.5%;
  color: #596e79;
}

.navbar{
	padding-left: 20px;
	padding-right: 10px;
  background-color: white;
}

.navbar-brand{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #596e79;
}

.navbar-brand span {
  font-family: 'Noto Sans', sans-serif;
	font-size:28px;
	line-height:1.2;
	font-weight: 700;
	display:inline-block;
	vertical-align:middle;
	padding:0 0 0 15px;
}
.navbar-brand b {
	display:block;
  font-style: italic;
	font-size:50%;
	line-height:2;
}

.nav-link {
  color: #596e79;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.nav-link:hover {
  color:  #abb6bf;
}

.navbar-brand:hover {
  color: #abb6bf;

}

.navbar-toggler {
	border-color: #596e79;
}

.badge:after{
content:attr(value);

background: #fff;
border-radius:30%;
padding:3px;
position:relative;
left:1;
top:-18px;
font-family: 'Noto Sans', sans-serif;
font-size:16px;

}

.subscript1{
  color: #596e79;
  font-style: italic;
  font-size: 20px;
  text-align: center;
}

.subscript2{
  color: #596e79;
  font-style: italic;
  font-size: 14px;
  text-align: center;

}

#homeContainer {
  padding: 20%;
  background-image: url("https://images.unsplash.com/photo-1574466853640-8557d3e4ab2c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#searchButton{
  background-color: #596e79;
  color: white;
}

#searchBar {
  width: 400px;
  margin: auto;
}

#browseLinksRow {
  margin-top: 30px;
  padding-bottom: 10px;

}

#browseLinksP{
  margin-left: 15px;
  margin-right: 15px;
}

#browseButton {

  font-size: 22px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  background-color:  #fff;
  border-color:  #fff;
  color: #596e79;
}

#browseButton:hover{
  color: #abb6bf;
}

#browseHeading{
  font-size: 34px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: #596e79;
}

#browseButtonSmall{
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  background-color:  #fff;
  border-color:  #fff;
  color: #596e79;
  padding-top: 3%;
  margin-left: 88.5%;
  padding-bottom: 2%;
}

#browseButtonSmall2{
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  background-color:  #fff;
  border-color:  #fff;
  color: #596e79;
  padding-top: 3%;
  margin-left: 88%;
  padding-bottom: 2%;
}

#browseButtonSmall:hover{
  color: #abb6bf;
}

#popularProd{
  font-size: 32px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: #596e79;
  text-align: center;
}

#cardBox {
  text-align: center;
  margin-top: 25px;
}

#cardContainer {
  color: #596e79;

  margin-bottom: 50px;
}

#footerContainer{
  background-color: #596e79;
}
#footerTable{
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
}

#footerRow{margin-top: 4%;}

.table th{
  font-size: 18px;
}

.copyrightText{
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  font-family: 'Noto Sans', sans-serif;
  background-color:  #596e79;
  color: white;
  margin-bottom: 0;
  border-top: solid;
  border-width: thin;
  border-color: white;
}

#socialMediaImg{
  color: white;
}

#socialMediaImg:hover{
  opacity: 0.9;
  color:  #6d808f;
}

/* breadcrumb */
.breadcrumb {
    margin-left: 4%;
    border: none;
    background-color: white;
    width: 50%;
}

#breadCustom{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

#breadLink{
  color: #596e79;
}

#breadLink:hover{
    color: #95ab9e;
    text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
       content: ">";
   }

/* end breadcrumb */



  /* sign in screen*/

#signInButton{
  background-color:  #596e79;
  border-color:  #596e79;
  color: #fff;
}

#signInLinkButton {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  overflow: hidden;
  outline:none;
  color: #fff;
}

#emailShorten{
  padding-left: 0;

}

#signinHeading{
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 42.5%;
}

#signInPage{
  padding: 4% 15% 25% 15%;
  background-image: url("../images/play.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#signinEmail {
    color: #fff;
}

#signinPassword{
  color: #fff;
}

#signinMainContainer{
  padding-top: 110px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #596e79;
}

/* sign up screen */

#signUpPage{
  padding: 0 20% 25% 20%;
  background-image: url("../images/signupimage4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#signupMainContainer{
  padding-top: 150px;
  font-family: 'Lato', sans-serif;

  font-weight: 400;
  color: #596e79;

}

#signupHeading{
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #596e79;
  padding-bottom: 30px;
  margin-left: 41%;
}


#inputStreet {
  width: 300px;

}

#inputEmail{
  width: 300px;
}

#inputPassword{
  width: 300px;
}

#inputCity{
  width: 300px;
}

#inputProvince{
  width: 300px;

}


#inputCode{
  width: 150px;
}

#signUpButton{
  background-color:  #596e79;
  border-color:  #596e79;
  color: #fff;

}

#signUpLinkButton{
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  overflow: hidden;
  outline:none;
  color: #596e79;
}

/*loggedIn*/
.nav-item {
 margin-right: 50px;

}

/* admin main screen */

.adminborder{
  border-bottom: 2px solid #596e79;

}

.adminContainer {
  margin-top: 8%;
  margin-bottom: 2%;
}

.adminHeadings{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: #596e79;
  font-size: 42px;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1%;

}

#adminButton{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  margin-left: 80px;
}

#backButton{
  margin-right: 30px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}

/* editadmin screen */


.containerAdminDetails{
  margin-left: 200px;
}


#adminMainContainer{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #596e79;
}


#accounts{
  border-radius: 20px;
  width: 300px;
  height: 220px;
  margin-right: 100px;
}

#products{
  border-radius: 20px;
  width: 300px;
  height: 220px;
}

#orderlist{
  border-radius: 20px;
  width: 300px;
  height: 220px;
  margin-left: 100px;
}

.space {
  margin-top: 220px;
}

#adminMenuButton {
  padding-top: 20px;
  font-size: 20px;
  font-style: italic;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  background-color:  #fff;
  border-color:  #fff;
  color: #596e79;
}

/* editproducts screen */

#inputCategory{
  width: 100px;
}

#inputProdName {
  width: 300px;

}

#inputProdType{
  width: 300px;
}

#inputPrice{
  width: 300px;
}

#inputQuantity{
  width: 300px;

}

/* about us screen*/

#aboutContainer{
  margin: 0 !important;
  padding-top: 5%;
  padding-right: 8%;
  padding-left: 20%;
  padding-bottom: 5%;
}
#aboutHeading{
  text-align: center;
  font-size: 32px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: #596e79;
  padding-top: 5%;
  padding-bottom: 20px;
}
#aboutheading2{

  text-align: center;
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  color: #596e79;
}

#aboutheading3{

  text-align: center;
  font-style: italic;
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  color: #596e79;
}
#aboutPara{

  text-align: center;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  color: #596e79;
}

/* end about us screens */

/* contact us screens */
#contactUsContainer{
  margin: 0 !important;
  font-family: 'Noto Sans', sans-serif;
  color: #596e79;
  padding-bottom: 5%;
}

#contactUsHeading{
  margin-left: 40%;
  margin-bottom: 10%;
  font-size: 32px;
  font-weight: 700;
}

#contactheading2{
    margin-left: 42%;
    margin-bottom: 3%;
    font-size: 18px;
    font-weight: 700;
}

#contactheading3{

  margin-left: 10%;
  margin-bottom: 3%;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 1.5%;
}

#contactPara{
  margin-left: 42%;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5%;
}

#contactParaForm{

  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5%;
}

#contactSubject{
  font-size: 18px;
  font-weight: 700;
}
#contactMessage{
  font-size: 18px;

  font-weight: 700;
  padding-bottom: 4%;
}

#contactEmailLabel{
  font-size: 18px;
  font-weight: 700;
}

/* end contact us screens */

/* product details screen */
#prodScreenHeading{
  text-align: justify;
  font-size: 26px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: #596e79;
  padding-right: 20%;
}

#prodScreenCat{

  padding-bottom: 2%;
  text-align:justify;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  color:#8a8e8c;
}

.underlineDiv{
  border-bottom: solid;
  border-color:#cdcfcf;
  border-width: thin;
  margin-right: 18%;
}

#prodScreenpara{
  padding-top: 5%;
  margin-right: 18%;
  padding-bottom: 0;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  color: #596e79;
  font-size: 18px;
}

#prodScreenpara2{
  margin-right: 18%;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  color: #596e79;
  padding-bottom: 15%;
    font-size: 18px;
}

#prodDeliv{

  font-size: 12px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  color: #596e79;
}

#prodScreenInStck{
  margin-left: 20%;
  margin-top: 30%;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  color: #596e79;

  margin-bottom: 2%;
}

#prodScreenOutStck{
  margin-left: 20%;
  margin-top: 30%;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  color: red;
  padding-top: 4%;
  margin-bottom: 2%;
}
#prodDetailsImg{
  width: 500px;
  height: 500px;
  margin-left: 20%;
  margin-top: 2%;
}


.prodMainunderlineDiv
{
  border-bottom: solid;
  border-color:#abb6bf;
  border-width: thin;

}

/* end product details screen */

/* cart  screen */

#tableCartHeadings{

  color: #596e79;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}

#tableCartText{

  color: #596e79;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

.placeorder{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  text-align: right;
  color: #596e79;
}

#totalHeading{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
    color: #596e79;
    font-size: 22px;
}

#cartButton{
  background-color:  #596e79;
  border-color:  #596e79;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;

}

#cartButton:hover{
  color: #95a7b1;
}

#cartButtonRedirect{
  background-color:  #596e79;
  border-color:  #596e79;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
}

#cartButtonRedirect:hover{
  color: #95a7b1;
}

#alertEmpty{
  background-color:  #596e79;
  border-color:  #596e79;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
}

#alertEmpty:hover{
  color: #95a7b1;
}


/* end cart  screen */

/* policy screens */

.infobackground{
  background-color: #596e79;
  color: #596e79;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  margin: 2% 7% 7% 5%;
}

.infoPara{
  text-align: justify;
  color: #596e79;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
    padding-top: 1%;
      padding-bottom: 1%;
}
.infobackgroundHeadings{
  padding-top: 1%;
  text-align: center;
  padding-bottom: 1%;
  color: #596e79;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}

/*ipad*/
@media (max-width: 768px){

  /*sign up page*/

  #signupMainContainer{
    padding-top: 100px;
  }

  #signupHeading{
      padding-bottom: 5px;
      margin-left: 318px;
    }
  #signUpLinkButton{
      color: white;
    }

/*sign in page*/
   #signinHeading{
       padding-bottom: 5px;
       margin-left: 285px;
     }

     #signInPage{
         padding: 10% 20% 70% 20%;
         background-size: cover;
         background-repeat: no-repeat;
         position: relative;
           background-image: url("../images/play2.jpg");
       }

      #emailCenter{
        margin-right: 100px;
      }

}


/*mobile */
@media (max-width: 575.98px){

  /* Header, main body content and Footer */

  #homeContainer {
    padding: 20%;
  }

  #searchBar {
    width: 200px;
    padding-top: 20px;
  }

  .subscript1{
    color: #596e79;
    font-style: italic;
    font-size: 10px;
    text-align: center;
  }

  .subscript2{
    color: #596e79;
    font-style: italic;
    font-size: 8px;
    text-align: center;
  }

  #playLogo{
		width: 25%;
		height: 10%;
	}
	.navbar-brand{
		margin: 0 4px 0 0;
		padding: 0;
		text-align: left;
		width: 300px;
	}
	.navbar-toggler{
	padding: 2px 6px 2px 6px;
	width: 30px;
	height: 20px;
	}
	.navbar-brand span {
	  font-family: 'Noto Sans', sans-serif;
		font-size:12px;
	}
  .nav-link {
    font-size: 10px;
  }

  #browseLinksRow {
    margin-top: 10px;
  }

  #browseButton {

    font-size: 10px;
    font-style: italic;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    background-color:  #596e79;
    border-color:  #596e79;
    color: white;
  }

  #cardBox {
    text-align: center;
    margin-top: 10px;
  }

  #footerTable{
    font-size: 4px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

  #payfastImg{
    width: 15%;
    height: auto;
  }

.table thead th{
    padding-left: 3px;
    padding-right:3px ;
    padding-top:3px ;
    padding-bottom:3px ;

  }

  .table td, .table th {
    padding-left: 3px;
    padding-right:3px ;
    padding-top:3px ;
    padding-bottom:3px ;

  }

  #socialMediaImg{
      font-size: 4px;
      padding: 2px!important;
  }

  #cardContainer {
    margin-bottom: 10px;
  }

  .copyrightText{
    font-size: 6px;
  }

  #footerRow{
    padding-top: 0 !important;
  }



    /* Sign in screen */
  #signInButton{
    font-size: 10px;
    margin-left: 50px;
  }

  #signinMainContainer{
    padding-top: 0;
    margin-left: 30px;
    margin-right: 30px;
  }

  #signinEmail{
    margin-left: 50px;
  }

  #signinPassword{
    margin-left: 50px;
  }
  label {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      color: #596e79;
      font-size: 10px;
    }

  #signInLinkButton {
      font-size: 10px;
      color: #fff;
    }

  #emailShorten{
      padding-right: 0;
    }

  #signinHeading{
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      margin-top: 20px;
      padding-bottom: 5px;
      margin-left: 55px;
    }

  #signInPage{
      padding: 35% 40% 100% 40%;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
        background-image: url("../images/play2.jpg");
    }

  #emailCenter{
    padding-left: 40px;
    padding-right: 0;
    }

    .form-row{
          margin-right: 0 !important;

    }

    #loginEmail{
      margin-left: 50px;
      font-size: 10px;
      width: 250px;
      }

    #loginPassword{
      margin-left: 50px;
      font-size: 10px;
      width: 250px;
        }

    /* Sign up screen */

    .label {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: black;
        font-size: 10px;
        margin-left: 50px;
      }

  #signUpPage{
      padding: 5% 20% 55% 20%;

      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }

  #signupMainContainer{
      padding-top: 0;
    }

  #signupHeading{
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: #596e79;
      padding-bottom: 5px;
      margin-left: 132px;

    }

  #signUpButton {
    font-size: 10px;
    }


  #inputEmail{
    margin-left: 50px;
    font-size: 10px;
    width: 250px;
    }

  #inputPassword{
    margin-left: 50px;
    font-size: 10px;
    width: 250px;
      }

  #inputStreet{
    margin-left: 50px;
    font-size: 10px;
    width: 250px;
        }

  #inputCity{
    margin-left: 50px;
    font-size: 10px;
    width: 250px;
  }

  #inputProvince{
    margin-left: 50px;
    font-size: 10px;
    width: 250px;
  }

  #inputCode{
    margin-left: 50px;
    font-size: 10px;
    width: 250px;
  }

  .invalid-feedback{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 10px;
    margin-left: 50px;
  }
  #signUpButton{
    margin-left: 50px;
  }
  #signUpLinkButton{
    font-size: 10px;
    }


}
