
  /* Header, main body content and Footer */

body {
    background-color: #fff;
    margin: 0;

}

.navbar{
	padding-left: 20px;
	padding-right: 10px;
  background-color: white;
}

.navbar-brand{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #596e79;
}

.navbar-brand span {
  font-family: 'Noto Sans', sans-serif;
	font-size:28px;
	line-height:1.2;
	font-weight: 700;
	display:inline-block;
	vertical-align:middle;
	padding:0 0 0 15px;
}
.navbar-brand b {
	display:block;
  font-style: italic;
	font-size:50%;
	line-height:2;
}

.nav-link {
  color: #596e79;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;

}

.nav-link:hover {
  color: #434e57;
}

.navbar-brand:hover {
  color: #6d808f;

}

.navbar-toggler {
	border-color: #596e79;
}

.container-fluid {
    /* We use !important to override the padding setting that Bootstrap already put for the container-fluid class. */
    padding-left: 0 !important;
    padding-right:0 !important;
}

.row {
  /* We use !important to override the padding setting that Bootstrap already put for the row class. */
  margin-left: 0 !important;
  margin-right:0 !important;
}

.subscript1{
  color: #596e79;
  font-style: italic;
  font-size: 20px;
  text-align: center;
}

.subscript2{
  color: #596e79;
  font-style: italic;
  font-size: 14px;
  text-align: center;

}

#homeContainer {
  padding: 20%;
  background-image: url("https://images.unsplash.com/photo-1574466853640-8557d3e4ab2c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#searchButton{
  background-color: #596e79;
  color: white;

}

#searchBar {
  width: 400px;
  margin: auto;
}

#browseLinksRow {
  margin-top: 30px;
}

#browseLinksP{
  margin-left: 5px;
  margin-right: 5px;

}

#browseButton {

  font-size: 14px;
  font-style: italic;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  background-color:  #fff;
  border-color:  #fff;
  color: #596e79;
}

#cardBox {
  text-align: center;
  margin-top: 25px;
}

#cardContainer {

  margin-bottom: 50px;
}

#footerContainer{
  background-color: #596e79;
}
#footerTable{
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: white;
}
.copyrightText{
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  font-family: 'Noto Sans', sans-serif;
  background-color:  #596e79;
  color: white;
  margin-bottom: 0;

}

#socialMediaIcons {
  color: white;
}

  /* sign in screen*/



#signInLinkButton {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  overflow: hidden;
  outline:none;
  color: #596e79;
}

#emailShorten{
  padding-left: 0;

}

#signinHeading{
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
    margin-left: 725px;
}

#signInPage{
  padding: 6% 20% 27% 40%;
  background-image: url("../images/play.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#signinEmail {
    color: #fff;
}

#signinPassword{
  color: #fff;
}



/* sign up screen */

#signUpPage{
  padding: 0 20% 25% 20%;
  background-image: url("../images/signupimage4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#signupMainContainer{
  padding-top: 150px;
  font-family: 'Lato', sans-serif;

  font-weight: 400;
  color: #596e79;

}

#signupHeading{
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #596e79;
  padding-bottom: 30px;
  margin-left: 790px;
}


#inputStreet {
  width: 300px;

}

#inputEmail{
  width: 300px;
}

#inputPassword{
  width: 300px;
}

#inputCity{
  width: 300px;
}

#inputProvince{
  width: 300px;

}


#inputCode{
  width: 150px;
}

#signUpButton{
  background-color:  #596e79;
  border-color:  #596e79;
  color: #fff;

}

#signUpLinkButton{
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  overflow: hidden;
  outline:none;
  color: #596e79;
}


/*ipad*/
@media (max-width: 768px){

  /*sign up page*/

  #signupMainContainer{
    padding-top: 100px;
  }

  #signupHeading{
      padding-bottom: 5px;
      margin-left: 318px;
    }
  #signUpLinkButton{
      color: white;
    }

}



/*mobile */
@media (max-width: 575.98px){

  /* Header, main body content and Footer */

  #homeContainer {
    padding: 20%;
  }

  #searchBar {
    width: 200px;
    padding-top: 20px;
  }

  .subscript1{
    color: #596e79;
    font-style: italic;
    font-size: 10px;
    text-align: center;
  }

  .subscript2{
    color: #596e79;
    font-style: italic;
    font-size: 8px;
    text-align: center;
  }

  #playLogo{
		width: 25%;
		height: 10%;
	}
	.navbar-brand{
		margin: 0 4px 0 0;
		padding: 0;
		text-align: left;
		width: 300px;
	}
	.navbar-toggler{
	padding: 2px 6px 2px 6px;
	width: 30px;
	height: 20px;
	}
	.navbar-brand span {
	  font-family: 'Noto Sans', sans-serif;
		font-size:12px;
	}
  .nav-link {
    font-size: 10px;
  }

  #browseLinksRow {
    margin-top: 10px;
  }

  #browseButton {

    font-size: 10px;
    font-style: italic;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    background-color:  #596e79;
    border-color:  #596e79;
    color: white;
  }

  #cardBox {
    text-align: center;
    margin-top: 10px;
  }

  #footerTable{
    font-size: 4px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

  #payfastImg{
    width: 15%;
    height: auto;
  }

.table thead th{
    padding-left: 3px;
    padding-right:3px ;
    padding-top:3px ;
    padding-bottom:3px ;

  }

  .table td, .table th {
    padding-left: 3px;
    padding-right:3px ;
    padding-top:3px ;
    padding-bottom:3px ;

  }

  #socialMediaImg{
      font-size: 4px;
      padding: 2px!important;
  }

  #cardContainer {
    margin-bottom: 10px;
  }

  .copyrightText{
    font-size: 6px;
  }

  #footerRow{
    padding-top: 0 !important;
  }

    /* Sign in screen */

  #signInLinkButton {
      color: #fff;
    }

  label {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      color: #596e79;
      font-size: 10px;
    }

  #signInLinkButton {
      font-size: 10px;
      color: #fff;
    }

  #emailShorten{
      padding-right: 0;
    }

  #signinHeading{
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      margin-top: 20px;
      padding-bottom: 5px;
      margin-left: 40px;
    }

  #signInPage{
      padding: 50% 40% 90% 40%;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
        background-image: url("../images/play2.jpg");
    }

  #emailCenter{
    padding-left: 40px;
    padding-right: 0;
    }

    .form-row{
          margin-right: 0 !important;

    }
    /* Sign up screen */

    .label {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: black;
        font-size: 10px;
        margin-left: 50px;
      }

  #signUpPage{
      padding: 5% 20% 55% 20%;

      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }

  #signupMainContainer{
      padding-top: 0;
    }

  #signupHeading{
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: #596e79;
      padding-bottom: 5px;
      margin-left: 132px;

    }

  #signUpButton {
    font-size: 10px;
    }


  #inputEmail{
    margin-left: 50px;
    font-size: 10px;
    width: 250px;
    }

  #inputPassword{
    margin-left: 50px;
    font-size: 10px;
    width: 250px;
      }

  #inputStreet{
    margin-left: 50px;
    font-size: 10px;
    width: 250px;
        }

  #inputCity{
    margin-left: 50px;
    font-size: 10px;
    width: 250px;
  }

  #inputProvince{
    margin-left: 50px;
    font-size: 10px;
    width: 250px;
  }

  #inputCode{
    margin-left: 50px;
    font-size: 10px;
    width: 250px;
  }

  .invalid-feedback{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 10px;
    margin-left: 50px;
  }
  #signUpButton{
    margin-left: 50px;
  }
  #signUpLinkButton{
    font-size: 10px;
    }


}
